<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include ../partials/head %>
	
	<style>
	
		.file {

			position: relative;

		}

		.file>* {

			display: inline-block;

			vertical-align: middle;

		}

		.file>h3 {

			margin-left: 20px;

		}

		.file>.controls {

			position: absolute;

			right: 0;

			margin-top: 24px;

		}

		#frontend_status>* {

			position: relative;

			width: 100%;

			margin-bottom: 20px;

		}

		#frontend_status .tag {

			position: absolute;

			right: 0;
			top: 50%;

			transform: translate(0, -50%);

		}

	</style>

</head>
<body>
	
	<div class="app">
		
		<% include ../partials/menu %>
		
		<div class="section main_section">
			
			<h1>Files</h1>
			
			<div class="split half_split">
				
				<div class="panel">
					
					<h2>Clone from Repository</h2>
					
					<form action="/api/clone?redirect=<%- baseUrl %>/files" method="POST" class="form">
						
						<input type="text" name="url" placeholder="Repository" class="line">
						<input type="text" name="branch" value="master" placeholder="Branch or tag"> <input type="submit" value="Clone">
						
					</form>
					
				</div>
				
				<div class="panel">
					
					<h2>Frontend Status</h2>

					<ul id="frontend_status">

						<li style="color: <%- wwwFiles ? '#1e00ff' : '#ff6d6d' %>;"><code>www</code> exists <span class="tag blue">Required</span></li>
						<li style="color: <%- wwwFiles.find(_ => _.toLowerCase() === '.git') ? '#1e00ff' : '#ff6d6d' %>;"><code>www</code> is a git repository <span class="tag blue">Recommended</span></li>
						<li style="color: <%- wwwFiles.find(_ => _.toLowerCase() === 'index.html') ? '#1e00ff' : '#ff6d6d' %>;"><code>index.html</code> exists <span class="tag blue">Recommended</span></li>

					</ul>
					
				</div>
				
			</div>

			<h2>File List</h2>

			<div class="list">

				<% for (const file of files) { %>

					<div>

						<div class="file">
						
							<% if (mime.getType(file).indexOf("image") !== -1) { %>

								<img src="/api/file/<%- file -%>" alt="<%- file %>" width="50px">
								
							<% } else { %>

								<p class="sub">N/A</p>

							<% } %>

							<h3><input type="text" value="<%- file.split('.')[0] %>" data-extension=".<%- file.split('.').slice(1).join(".") %>" class="file_name" spellcheck="false">.<%- file.split('.').slice(1).join(".") %></h3>

							<div class="controls">

								<button>Delete</button>

							</div>

						</div>

					</div>

				<% } %>

			</div>
			
		</div>
		
	</div>
	
	<script>
	
		document.addEventListener("keypress", async event => {

			if (!event.target) return;

			if (event.target.classList.contains("file_name") && event.key.toLowerCase() === "enter") {

				event.target.blur();

				notify("Renaming file...");

				await fetch("/api/files/rename", {
					
					method: "POST",

					headers: {

						"Content-Type": "application/json",
						"Authorization": `Bearer ${getCookie("token")}`

					},

					body: JSON.stringify({

						from: event.target.getAttribute("value") + event.target.getAttribute("data-extension"),
						to: event.target.value + event.target.getAttribute("data-extension")

					})

				});

				notify(`Renamed <strong>${event.target.getAttribute("value")}</strong> to <strong>${event.target.value}</strong>.`);

				event.target.setAttribute("value", event.target.value);

			}

		});

	</script>

</body>
</html>
