<div id="menu">

	<a href="<%- baseUrl %>">Dashboard</a>
	<a href="<%- baseUrl %>/elements">Elements</a>
	<a href="<%- baseUrl %>/users">Users</a>
	<a href="<%- baseUrl %>/templates">Templates</a>
	<a href="<%- baseUrl %>/files">Files</a>
	<a href="<%- baseUrl %>/settings">Settings</a>
	<a href="<%- baseUrl %>/security">Security</a>
	<a href="#" onclick="document.cookie='token=; path=<%- baseUrl %>;'; location.reload();">Logout</a>

</div>
