<% include partials/style.ejs %>

<div id="message">

	<% include partials/header.ejs %>

	<div id="body">

		<h2 style="margin-top: 10px; margin-bottom: 75px;">Password Changed</h2>

		<h3>Hi <%- username %>!</h3>

		<p>Someone changed your password <strong>at <%- new Date().toLocaleString() %></strong> from the IP address <strong><%- ip %></strong> which is located at <strong><%- location.city %>, <%- location.region %>, <%- location.country %></strong>. If you didn't try to change your password at that time, please <strong>contact an administrator immediately.</strong></p>

		<p>Change your password here: <a href="https://<%- host %>/admin/users">https://<%- host %>/admin/users</a></p>

	</div>

	<% include partials/footer.ejs %>

</div>
